<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Data Form</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/598821329d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
	.center {
	  margin: auto;
	  width: 60%;
	  border: 5px solid gainsboro;
	  padding: 10px;
	  text-align: center;
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	
	body {
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	  background-color:ghostwhite;
	}
	
	.topnav {
	  overflow: hidden;
	  background-color: red;
	}
	
	.topnav a {
	  float: right;
	  color: black;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 20px;
	}
	
	.topnav a:hover {
	  background-color:white;
	  color: black;
	}
	
	.topnav a.active {
	  background-color: white;
	  color: white;
	  float:left;
	}
	
	.input{
	  margin-left: 5px;
	  margin-top: 5px;
	}
	
</style>
</head>
<body>
	
 	<div class="topnav">
 	 <a href="/"><i class="fa-solid fa-house"></i></a>
 	 <a class="active"><img src ="https://www.alliance.com.ph/images/asi-logo-invert.svg" alt="alliance-logo">
	</div>
	
	<div class="container">
		<h1>Employment Data Form</h1>
		<hr>
		<form action="#" th:action="@{/createApplicant}" th:object="${applicant}"
			method="POST" class="form-inline">
				<input type="date" th:field="*{app_dateApplied}"
				placeholder="Date" class="form-control mb-4 col-5">

				<input type="text" th:field="*{ajobPos}" list="positions"
				placeholder="Select Position Applied" class="form-control mb-4 col-5" style="margin-left:40px">
				
				<datalist id="positions">
					<option value="Java Developer"/>
					<option value="C# Developer"/>
					<option value="Full Stack Developer"/>
					<option value="PHP Developer"/>
				</datalist>
		
			 	<h2 style="background-color:red; color:white; margin-right: 600px">I. Personal Information </h2>
				
				<input type="text" th:field="*{alastName}"  maxlength="30"
				placeholder="Last Name" class="form-control mb-4 col-3" style="margin-right:20px">
				
				<input type="text" th:field="*{afirstName}"  maxlength="30"
				placeholder="First Name" class="form-control mb-4 col-3" style="margin-right:20px">
				
				<input type="text" th:field="*{amidName}"  maxlength="30"
				placeholder="Middle Name" class="form-control mb-4 col-3" style="margin-right:20px">
				
				<input type="date" th:field="*{app_birthdate}"
				placeholder="dd/mm/yyyy" class="form-control mb-4 col-2" style="margin-right:20px">
				
				<input type="text" th:field="*{areligion}" list="religion"
				placeholder="Religion" class="form-control mb-4 col-2" style="margin-right:20px">
				
				<datalist id="religion">
					<option value="Roman Catholic"/>
					<option value="Evangelical"/>
					<option value="Iglesia ni Cristo"/>
					<option value="Aglipayan"/>
					<option value="Protestant"/>
					<option value="Baptist"/>
					<option value="Seventh Day Adventist"/>
					<option value="Pentecostal"/>
					<option value="Anglican"/>
					<option value="Orthodox"/>
					<option value="Methodist"/>
				</datalist>
				
				<input type="text" th:field="*{asex}" list="sex"
				placeholder="Sex" class="form-control mb-4 col-2" style="margin-right:20px">
				
				<datalist id="sex">
					<option value="Male"/>
					<option value="Female"/>
				</datalist>
				
				<input type="text" th:field="*{aage}"  maxlength="3"
				placeholder="Age" class="form-control mb-4 col-1" style="margin-right:20px">
				
				<input type="text" th:field="*{acityAdd}"
				placeholder="City Address" class="form-control mb-4 col-3" style="margin-right:20px">
				
				<input type="text" th:field="*{aprovAdd}"
				placeholder="Provincial Address" class="form-control mb-4 col-3">
				
				<input type="text" th:field="*{atelNum}"  maxlength="11"
				placeholder="Telephone Number" class="form-control mb-4 col-1" style="margin-right:20px">
				
				<input type="text" th:field="*{amobileNum}"  maxlength="11"
				placeholder="Mobile Number" class="form-control mb-4 col-2" style="margin-right:20px">
				
				<input type="text" th:field="*{aemailAdd}"  maxlength="40"
				placeholder="Email Address" class="form-control mb-4 col-2" style="margin-right:20px">
				
				<input type="text" th:field="*{aphilNum}"  maxlength="12"
				placeholder="Philhealth Number" class="form-control mb-4 col-2" style="margin-right:20px">
				
				<input type="text" th:field="*{asssNum}"  maxlength="10"
				placeholder="SSS No." class="form-control mb-4 col-1" style="margin-right:20px">
				
				<input type="text" th:field="*{atinNum}"  maxlength="9"
				placeholder="TIN No." class="form-control mb-4 col-1" style="margin-right:20px">
				
				<input type="text" name="conName"
				placeholder="Contact Person" class="form-control mb-4 col-3" style="margin-right:20px">

				<input type="text" name="conNum"
				placeholder="Contact Number" class="form-control mb-4 col-2" style="margin-right:40px">
				
				<input type="text" name="conRelation"
				placeholder="Relationship" class="form-control mb-4 col-2" style="margin-right:20px">
				
				<input type="text" name="conAddress"
				placeholder="Contact Person's Address" class="form-control mb-4 col-3" style="margin-right:20px">
				
		</form>
		
		<button type="submit" class="btn btn-info col-2"> Next </button>
	
		<!-- <a th:href = "@{/}"> Back to Applicant List</a> -->
	</div>
</body>
</html>