<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Application App</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>

<style>
input {
float:right;
margin-right:3%;
}


</style>



<body>

<!-- =============================H=============E==============A============D============E=============R============================ -->
<header>
	<div class="topnav">
		<img src="https://www.alliance.com.ph/images/asi-logo-invert.svg" id="logo" class="img-thumbnail" alt="Alliance Logo">
	</div>
</header>
<!-- ======================================M==================A================I==================N================================ -->
<main class="container-lg">
	<div class="wrapper">

  <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-info" value="Logout" />
    </form>
  <a style="float:right;margin-right:100px;margin-top:50px;margin-bottom:10px;" href="/usersManagement" class="btn btn-success">User Management</a>


	<div class="container my-4">
	<h1>Applicant List</h1>
	
	<!-- <a th:href = "@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Applicant </a> -->
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
							Applicant First Name</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
							Applicant Last Name</a>
					</th>
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=dateApplied&sortDir=' + ${reverseSortDir}}">
							Date Applied</a>
					</th>
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
							Applicant Email</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=status&sortDir=' + ${reverseSortDir}}">
							Status</a>
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>	
				<tr th:each="applicant : ${listApplicants}">
					<td th:text="${applicant.afirstName}"></td>
					<td th:text="${applicant.alastName}"></td>
					<td th:text="${#dates.format(applicant.app_dateApplied, 'yyyy/dd/MM')}"></td>
					<td th:text="${applicant.aemailAdd}"></td>
					<td th:text="${applicant.status}"></td>
					<td> <a th:href="@{/showFormForUpdate/{id}(id=${applicant.app_id})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteApplicant/{id}(id=${applicant.app_id})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
		
		
   
   </div>
	
</body>
</html>